
#root *{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 4em;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #000;
}

.app-link {
  color: #09d3ac;
}
